*{
    margin:0px;
    padding: 0px;
}
canvas{
    display: block;
}

.landing{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
#landingHead{
    font-family: 'Syne Mono', monospace;
    color: white;
    letter-spacing: 10px;
    font-size: 10vw;
}
#landingPara{
    font-family: 'Syne Mono', monospace;
    color: white;
    letter-spacing: 10px;
    font-size: 2vw;
}

@media only screen and (max-width: 600px){
    #landingHead{
        font-family: 'Syne Mono', monospace;
        color: white;
        letter-spacing: 10px;
        font-size: 11vw;
    }
    #landingPara{
        font-family: 'Syne Mono', monospace;
        color: white;
        letter-spacing: 10px;
        font-size: 5vw;
    }
    
}